
@import url('https://fonts.googleapis.com/css?family=Rajdhani&display=swap');

body {
    background-color: #464850;
    color: #ffffff;
    display: grid;
    padding: 0;
    margin: 0;
}

#header {
    display: grid;
    grid-template-columns: 51px 100px auto;
    grid-gap: 10px;
    font-family: 'Rajdhani Medium', sans-serif;
    text-align: left;
    font-size: 40px;
    color: #0094ff;
    background-color: #2c2f37;
    padding: 10px 15px;
    border-bottom: solid 2px black;
}

#header > .icon {
    height: 51px;
    vertical-align: middle;
}

#panel {
    display: grid;
    grid-gap: 10px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 72px;
    font-weight: 300;
    color: white;
    background-color: #5b606c;
    padding: 30px;
    border-bottom: solid 2px black;
}

#panel .description {
    font-size: 16px;
    font-weight: 400;
}

#panel a {
    font-size: 16px;
    margin: 0;
}

#content, #footer {
    font-family: 'Quicksand', sans-serif;
}

.section {
    margin-bottom: 5px;
}

.section > .header {
    background-color: #40434b;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

#content .section:first-of-type > .header {
    border-top: none;
}

.section > .header > .text {
    font-size: 26px;
    padding: 25px 50px 25px 50px;
}

.section > .header > .description {
    font-size: 16px;
    padding: 0 50px 15px;
}

.section > .under {
    padding: 15px 50px 15px;
    margin-bottom: 0;
}

.section.final > .header {
    background-color: #464850;
    border-top: solid 2px black;
    border-bottom: none;
    padding-bottom: 100px;
}

.list {
    margin-inline-start: 0;
    padding-inline-start: 0;
    list-style-type: square;
}

.list > li {
    padding-bottom: 15px;
    margin-left: 20px;
}

button:focus {
    outline: none;
}

a {
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

.link {
    cursor: pointer;
}

.linkButton {
    display: inline-block;
    text-decoration: none;
    margin: 30px 0 20px;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    width: 350px !important;
    box-sizing: border-box;
    background-color: #2c2f37;
    cursor: pointer;
    color: white;
}

.linkButton:hover {
    background-color: #4a4e57;
}

.linkButton:active {
    background-color: #60646d;
}

#content > .listing {
    background-color: #40434b;
    padding: 10px 50px 10px 50px;
    border-bottom: solid 1px black;
}

#content > .listing > .header {
    font-size: 26px;
}

#content ul {
    list-style-type: square;
    padding: 0;
    margin: 0 0 0 0;
}

#content ul li {
    margin-left: 30px;
}

#footer {
    padding: 20px;
    text-align: center;
}

#Downloads ul > li:not(:last-of-type) {
    margin-bottom: 5px;
}